/* card */
$card-width: 100%;
$card-bg: #FFF;
$card-min-height: 10minvh;

/* card header */
$card-header-height: 50px;
$card-header-line-height: 50px;
$card-header-background: #F39C12;
$card-title-font-size: 1rem;

/* componnet modify */
$card-header-primary-bg: #2980B9;
$card-header-info-bg: #b93853;